//== Colors
//

$orange: #fd1900;
$orange-alt: #f12d2d;
$orange-alt-2:#F32C40;

$purple: #6a29e4;
$purple-alt: #421498;
$purple-alt-2: #381082;
$white: #FFF;
$white-alt: #F8F8F8;
$green: #27FF84;
$green-alt: #00B74F;
$gray: #7B7C85;

$send-button-bg-color:$orange-alt;
$bottom-bg-color:$purple-alt;
